<!DOCTYPE HTML>
<html lang="zh" ng-app="toDoList">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>记事本</title>
		<!-- Jquery -->
		<script src="framework/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="framework/bootstrap.min.css" rel="stylesheet">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="framework/bootstrap.min.js"></script>
    <!-- angular --> 
    <script src="framework/angular.min.js"></script>
    <!-- ui-router -->
    <script src="http://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
		<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="angular/css/index.css" rel="stylesheet">
	</head>
	<body ng-controller="mainCtr">
		<div class="wrapper">
			<h4>简易记事本</h4>
			<div class="type">
				<input type="text" ng-model="task"/>
				<button ng-click="add()"><i class="fa fa-check" aria-hidden="true"></i></button>
			</div>
			<h4 ng-if="lists.length>0">任务列表</h4>
			<ul>
				<li ng-repeat="item in lists track by $index">{{item}}<a ng-click="lists.splice($index,1)">删除</a></li>
			</ul>
		</div>	
		<script src="main.js"></script>
	</body>
</html>
